
/*header*/
#logo_best_record{
  float:left;
  height:66px;
  width: 66px;
  border: 2px solid #4E4E4E;
}
.header {
  height: 70px;
  width: auto;
  flex-flow: row-reverse nowrap;
  text-align: center;
  background-color: #4E4E4E;
}
.menu {
  padding-top: 23px;
  float: left;
}
.menu a {
  text-align: center;
  color: white;
  font-size: 25px;
  text-decoration: none;
  padding:25px;
}
.menu a:hover {
  background-color: black;
}
.menu a:active {
  background-color: white;
  color: black;
}
.header_reseaux img {
  float:right;
  padding-right: 8px;
  padding-left: 8px;
  width: 70px;
  height: 70px;
}
.header_reseaux img:hover {
  background-color: black;
}
.header_reseaux img:active {
  background-color: white;
}
/*end header*/

/*footer*/
footer {
  background-color: #4E4E4E;
  color: white;
  display: block;
  padding: 25px;
  margin-top: 25px;
  text-align: center;
}
.footer_reseaux_sociaux img {
  width: 35px;
  height: 35px;
  padding: 10px;
}
.footer_reseaux_sociaux H4 a {
  margin: 15px;
  text-decoration: none;
  color: black;
}
.footer_reseaux_sociaux a:hover {
  color: blue;
}
.footer_reseaux_sociaux a:active {
  color: black;
}
/*end footer*/

/*background color du site web*/
body {
  background-color: #000000;
}
/*end background color du site web*/

/*corp de la page accueil*/
#logo_titre_best_record {
  display: block;
  width: 100%;
  height: 200px;
}
.image_accueil_music {
  display: block;
  float: left;
  margin-left: auto;
  margin-right: auto;
  width: 900px;
  height: 470px;
}
.para_presentation_best_record {
  font-family: "Times New Roman", serif;
  font-style: italic;
  color: white;
  text-align: center;
  font-size: 27px;
}
.presentation_start {
  margin-top: 40px;
  margin-bottom: 90px;
}

.presentation {
  margin: 0 150px 0 150px;
}
/*carrousel*/
.slider {
  width: 900px;
  overflow: hidden;
  margin: auto;
  border-radius: 25px;
  border: 5px solid white;
}
.slides {
  width: calc(900px * 3);
  animation: glisse 10s infinite;
}
@keyframes glisse {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(0);
  }
  33% {
    transform: translateX(-900px);
  }
  43% {
    transform: translateX(-900px);
  }
  66% {
    transform: translateX(-1800px);
  }
  76% {
    transform: translateX(-1800px);
  }
  100% {
    transform: translateX(0);
  }
}
/*end carrousel*/
/*end corp de la page accueil*/

/*corp de la page artistes*/
.img-artist-jpg {
  width: 300px;
  height: 220px;
  border: 3px solid white;
  margin: 3px 0 0 3px;
}
.content-artist {
  text-align: justify;
  color: white;
  margin: 0 50px 0 50px;
}
.block-artiste {
  border: 2px solid grey;
  margin: 20px 100px 20px 100px;
  display: flex;
}
/*end corp de la page artistes*/

/*corp de la page contact*/
#img_best_record_page_contact {
  width: 200px;
  height: 200px;
  border: 2px solid grey;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.logo_best_record_page_contact {
  margin: 30px 0 30px 0;
}
.acces_coordonnees {
  margin-left: auto;
  margin-right: auto;
  display: flex;
}
.span_acces_coordonnees {
  border: 5px solid white;
  border-radius: 15px;
  display: flex;
  margin: 0 auto;
  background-color: #2934FF;
}
#carte_acces {
  width: 470px;
  height: 350px;
  margin: 7px;
  border-radius:10px;
}
.coordonnees {
  color: white;
  display: block;
  text-align: center;
}
.coordonees_div {
  color: white;
  margin-left: 25px;
  margin-right: 25px;
}
.coordonees_div H2 {
  color: white;
  text-align: center;
  font-size: 25px;
  margin-bottom: 38px;
}
.coordonees_div H4 {
  color: white;
  text-align: center;
  font-size: 17px;
  margin-bottom: 4px;
}
.coordonees_div a {
  color: white;
  text-align: center;
  font-size: 17px;
  margin-bottom: 4px;
}
.coordonees_div a:hover {
  color: black;
  text-align: center;
  font-size: 17px;
  margin-bottom: 4px;
}
/*formulaire.html*/
.lbl label{
  width: 70px;
  display: block;
}
.lbl {
  margin-top: 7px;
}
.formulaire {
  margin: 7px;
  color: white;
  display: flex;
}
.btn-subtim-form-message {
  width: 100px;
  height: 27px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7px;
  padding: 0;
  display: inline-block;
  text-align: center;
}
/*end formulaire*/
/*end corp de la page contact*/

/*corp page promotion*/
.h1_page_promotion {
  text-align: center;
  color: white;
  margin-top: 45px;
  margin-bottom: 45px;
  font-family: "Times New Roman", serif;
}
.encadr-block {
  border: 8px solid white;
  border-radius: 15px;
  margin-left: 15px;
  margin-right: 15px;
}
.block_artiste_promo {
  background-color: black;
  border-radius: 15px;
  display: flex;
  font-family: "Times New Roman", serif;
}
#img_art_promo {
  width: 450px;
  height: 600px;
  border-radius: 15px;
}
.div_description_artiste_promo {
  color: white;
}
.div_description_artiste_promo p {
  text-align: center;
  margin-left: 35px;
  margin-right: 35px;
  font-size: 18px;
  font-style: italic;

}
.div_description_artiste_promo H2 {
  text-align: center;
  font-weight: normal;
  margin-bottom: 40px;
  margin-top: 40px;
  font-size: 40px;
}
/*end corp page promotion*/
